body {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  width: 50%;
  color: white;
  font-size: 1.7em;
  line-height: 1.6;
  font-weight: 300;
  margin: 12% auto;
  background: #111;
}

body .root {
  text-align: left;
}
